@import url('https://fonts.googleapis.com/css2?family=Doppio+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --fonteDiferen:"Doppio One", sans-serif;
    --fonteEscr: "Roboto", sans-serif;
    --borda-cir:20px;
    --corFerra:#130A57;
    --corMate: #5f2602;
    --corPeca: #425704;
}

*{
    margin: 0px;
    padding:0px;
}

html, body, main, section{
    display: flex;
    flex-direction:column;
    justify-content: baseline;
    align-items: center;
}

body{
    background: linear-gradient(to bottom, rgb(175, 212, 226), rgb(150, 205, 225));
    background-size: cover;
    background-repeat: no-repeat;
}

main{
    margin: 15px 0px 15px 0px;
    border-top-left-radius: var(--borda-cir);;
    border-top-right-radius: var(--borda-cir);;
    background-color: white;
}

section{
    max-width: 900px;
    min-width: 350px;
}

h1,h2,h3{
    font-family: var(--fonteDiferen);
}

h1{
    text-align: center;
    font-weight: 400;
    padding: 30px 10px 15px 10px;
}

h2{
    text-align: start;
    font-weight: 300;
    padding: 20px 0px 10px 0px;
    width: 100%;
    text-indent: 20px;
}

h3{
    text-align: center;
    width: 100%;
    font-size:1.1em;
    font-weight: 200;
}

h3.noTexto{
    text-align: start;
    text-indent: 20px;
    padding: 10px 0px 5px 0px;
}

div.box_marcadores{
    margin: 5px 0px 5px 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items:center;
}

input{
    margin: 0px 0px 0px 50px;
    width: 25px;
    height: 25px;
    flex-shrink: 0;
}

input:checked + p.listagem{
    text-decoration: line-through;
    color: rgb(97, 97, 97);
}

span.peca{
    color:var(--corPeca);
    font-weight: 600;
}

span.ferra{
    color: var(--corFerra);
    font-weight: 600;
}

span.mate{
    color: var(--corMate);
    font-weight: 600;
}

a.inTexto{
    color: black;
}

a.inTexto:hover{
    color: rgb(248, 0, 99);
    text-decoration: none;
}

p{
    font-family: var(--fonteEscr);
    font-weight: 300;
    text-align: justify;
    padding: 0px 20px 0px 20px;
    font-size: 1.1em;
    text-indent: 30px;
    line-height: 25px;
}

p.listagem{
    padding: 0px 0px 0px 10px;
    text-indent: 0px;
    font-size: 1em;
    text-align: start;
}

div.orgIma{
    padding: 10px 0px 0px 0px;
    width: 100%;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    row-gap: 10px;
    justify-content: space-evenly;
    align-items: center;
}

div.titLegIma{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

p.tit, p.leg{
    font-size: 0.8em;
    padding: 0px 0px 0px 0px;
    text-indent: 0px;
    line-height: 1em;
    text-align: center;
}

p.tit{
    padding: 10px 20px 5px 20px;
}

p.leg{
    padding: 5px 20px 10px 20px;
}

picture{
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    margin:5px 0px 5px 0px;
    width: 90%;
    border:1px solid black;
    border-radius: var(--borda-cir);;
}

img.cotas{
    max-width: 850px;/*Procurar ententer melhor o funcionamento aqui*/
    max-height: 500px;/*Procurar ententer melhor o funcionamento aqui*/
}

img.ilust{
    max-width: 400px;/*Procurar ententer melhor o funcionamento aqui*/
    max-height: 350px;/*Procurar ententer melhor o funcionamento aqui*/
}

div.obser{
    margin: 15px 0px 15px 0px;
    max-width: 350px;
    background-color: rgba(45, 45, 45, 0.35);
    border-radius: var(--borda-cir);;
    box-shadow: 0px 0px 2px 2px rgba(45, 45, 45, 0.35);
}

div.obser > p{
    text-indent: 15px;
}

footer{
}